.new-booking-speeddial {
    transition: opacity 0.1s linear, visibility 0s 0.1s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 1.35em;
    right: 1.35em;
}

.new-booking-speeddial.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s linear, visibility 0s;
}

.list-tracking {
	margin-bottom: 86px;
}

.app-tabs {
	border-radius: 0px;
}

.app-tabs > md-tabs-wrapper, .manual-booking-toolbar {
	box-shadow: 0px 0px 2px #383838;
	z-index: 1;
}
